
<div class="sessionContainer">
  <div class="sessionWrapper">
    <% if @user.errors.any? %>
      <ol>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ol>
    <% end %>

    <%= form_for @user do |f| %>
      <div class="form-group session">
        <h1 class="sessionHeading">Sign up</h1>
        <%= f.label :name %>
        <%= f.text_field :name, :required => true, :class => "form-control"  %>

        <%= f.label :email %>
        <%= f.email_field :email, :required => true, :class => "form-control"  %>

        <%= f.label :password %>
        <%= f.password_field :password, :required => true, :class => "form-control"  %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "form-control"  %>

        <%= f.submit 'Signup', :class=>"btn btn-default sessionBtn" %>
      </div>
    <% end %>
    
  </div>
</div>
