
<div class="headingAnimation">
  <h1 class="heading">IMAGE<span class="lead">MAKER</span></h1>
</div>
<div class="mainGalleryWrapper">
  <% @photos.each do |photo| %>
  <a class="example-image-link" href="http://res.cloudinary.com/kryx11/image/upload/<%=photo.image%>" data-lightbox="photoimages" data-title="<%=photo.name%><% if photo.user != nil %> by <%=photo.user.name%><%end%>">
      <div style='background-image: url( "http://res.cloudinary.com/kryx11/image/upload/<%=photo.image%>")', class="photo">
      <div class="lead photoLabel"><p class="nameLabel"><%=photo.name%></p>
      </div>
    </div>
  </a>
  <% end %>
</div>
