<h1 class="heading">emoFACE</h1>
<div class="mainGalleryWrapper">
  <% @photos.each do |photo| %>
  <a class="example-image-link" href="http://res.cloudinary.com/kryx11/image/upload/<%=photo.image%>" data-lightbox="photoimages" data-title="<%=photo.name%> by <%=photo.user.name%>">
      <div style='background-image: url( "http://res.cloudinary.com/kryx11/image/upload/<%=photo.image%>")', class="photo">
      <div class="photoLabel"><p>'<%=photo.name%>' - <%=photo.user.name%></p></div>
    </div>
  </a>
  <% end %>
</div>
